@import url('https://fonts.googleapis.com/css2?family=Chilanka&family=Inter:wght@100&family=Noto+Sans:wght@300&family=Nova+Square&family=Playpen+Sans:wght@500&family=Titillium+Web:wght@300&display=swap');

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 18px;
    overflow-x: hidden;
    background: url(../images/pexels-pixabay-262896.jpg)no-repeat top center / cover;
}


.logo {
    color: white;
    text-align: center;
    font-size: 100px;
    text-decoration: none;
}

header a {
    color: transparent;
}

h1 {
    color: white;
    text-align: center;
}

.navbar-header {
    color: white;
    text-align: center;
}

.navbar a {
    color: white;
    text-align: center;
}

.hero {
    color: white;
    margin-left: 10px;
}

footer {
    background-color: white;
    height: 60px;
    margin-top: 650px;
    text-align: center;
}

#social-media {
    width: 100px;
    margin-left: 800px;
}